@model HerramientasProgFinal.Models.Doctor

@{
    ViewData["Title"] = "Delete";
}

<body>
    <br>
    <h2 class="d-flex justify-content-center text-danger">¿Estás seguro de que quieres eliminar este Doctor?</h2>
    <br>
    <div class="d-flex justify-content-center text-danger">
                <form asp-action="Delete" >
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" /> 
                    <a asp-action="Index" class="btn btn-success" >Volver a la Lista</a>
                </form>
    </div>
    <br>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                    <div class="card-body card bg-light mb-3 ">     
                        <ul class="list-group-item ">
                            <li class="list-group-item">            
                                    <dt class="text-danger">Nombre: </dt> <dd class="text-danger">@Html.DisplayFor(model => model.Nombre)</dd>
                            </li>    
                            <li class="list-group-item">
                                <dt class="text-danger">Edad: </dt> <dd class="text-danger">@Html.DisplayFor(model => model.Edad)</dd>
                            </li>
                            <li class="list-group-item">
                                <dt class="text-danger">Especialidad: </dt> <dd class="text-danger">@Html.DisplayFor(model => model.Especialidad)</dd>
                            </li>
                            <li class="list-group-item">
                                <dt class="text-danger">Consultorio: </dt> <dd class="text-danger">@Html.DisplayFor(model => model.Consultorio_.Nombre)</dd>
                            </li>   
                            <br>                                               
                        </ul>
                    </div>
            </div>
        </div>
    </div>

</body>





@* 
<body>
    <h1>Eliminar</h1>

    <h3>¿Estás seguro de que quieres eliminar esto?</h3>
    <div>
        <h4>Doctor</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Nombre
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                Edad
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Edad)
            </dd>
            <dt class="col-sm-2">
                Especialidad
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Especialidad)
            </dd>
            <dt class="col-sm-2">
                Consultorio
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Consultorio_.Nombre)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-action="Index">Volver a la Lista</a>
        </form>
    </div>
</body>
</html> *@