@using HerramientasProgFinal.ViewModels;

@model CitacionViewModel
@{
    ViewData["Title"] = "Index";
}

<body>
    <h1>Citas registradas</h1>
    <br>
    <form method="get" asp-action="Index">
        <label for="filter">Filtra por descripción:</label>
        <input asp-for="filter" type="text">
        <button type="submit">Buscar</button>
    </form>
    <br>

    <br>

    <p>
        <a asp-action="Create" class="btn btn-primary btn-sm">Agrega una nueva cita</a>
    </p>

    <table>
        <thead>
            <tr>
                <th>descripción</th>
                <th>Doctor</th>
                <th>Paciente</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Citaciones)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                    <td>@Html.DisplayFor(modelItem => item.Doctor.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Paciente.Nombre)</td>
                    <td>
                       <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas dar de baja esta cita?')">borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
